.body-container {
  .favorites-gifs-section {
    padding-top: 7.25rem;
    .favorites-gifs-section-container {
      .favorites-gifs-title-container {
        text-align: center;
        margin: 0 0 32px;
        h2 {
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          color: #572ee5;
          font-size: 1.25rem;
          margin: 0.2rem 0 1rem;
        }
      }
      .favorites-gifs-empty-container {
        text-align: center;
        margin-bottom: 8.25rem;
        h2 {
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          color: #50e3c2;
          font-size: 1.25rem;
          margin-top: 0.4rem;
        }
      }
      .favorites-gifs-content-container {
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        .gif-container {
          margin: 1.5rem;
          min-width: 243px;
          height: 187px;
          .gifBtns-container {
            display: none;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .gifInfo-container {
            display: none;
          }
        }
      }
      .hidden {
        display: none;
      }
    }
  }
}
.darkMode {
  .favorites-gifs-section {
    padding-top: 7.25rem;
    .favorites-gifs-section-container {
      .favorites-gifs-title-container {
        text-align: center;
        margin: 0 0 6.25rem;
        h2 {
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          color: #fff;
          font-size: 1.25rem;
          margin: 0.2rem 0 1rem;
        }
      }
      .favorites-gifs-empty-container {
        text-align: center;
        margin-bottom: 8.25rem;
        h2 {
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          color: #fff;
          font-size: 1.25rem;
          margin-top: 0.4rem;
        }
      }
      .favorites-gifs-content-container {
        flex-direction: column;
        padding: 0 16px;
        .gif-container {
          margin: 1.5rem;
          min-width: 243px;
          height: 187px;
          .gifBtns-container {
            display: none;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .gifInfo-container {
            display: none;
          }
        }
      }
    }
  }
}
@include mediaquerie {
  .body-container {
    .favorites-gifs-section {
      padding-top: 12.5rem;
      .favorites-gifs-section-container {
        .favorites-gifs-empty-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          h2 {
            max-width: 30%;
          }
        }
        .favorites-gifs-content-container {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          padding: 0 192px;
          .gif-container {
            margin: 1rem 1.5rem;
            transition: 0.5s;
            overflow: hidden;
            &:hover {
              .gifBtns-container,
              .gifInfo-container {
                display: flex;
                position: relative;
                transition: 0.5s;
                z-index: 10000;
              }
              .gifBtns-container {
                flex-direction: row;
                justify-content: space-between;
                top: 50px;
                left: 60%;
                max-width: 120px;
                overflow: hidden;
                transform: translateY(-230px);
                img {
                  width: 32px;
                  height: 32px;
                }
                .fav-btn {
                  content: url("../../../images/icon-fav-hover.svg");
                  opacity: 0.5;
                  transition: 0.2s;
                  &:hover {
                    transition: 0.2s;
                    opacity: 1;
                  }
                }
                .download-btn {
                  content: url("../../../images/icon-download-hover.svg");
                  opacity: 0.5;
                  transition: 0.2s;
                  &:hover {
                    transition: 0.2s;
                    opacity: 1;
                  }
                }
                .maxgif-btn {
                  content: url("../../../images/icon-max-hover.svg");
                  opacity: 0.5;
                  transition: 0.2s;
                  &:hover {
                    transition: 0.2s;
                    opacity: 1;
                  }
                }
              }
              .gifInfo-container {
                bottom: 90px;
                left: 20px;
                color: #fff;
                flex-direction: column;
                text-align: left;
                p,
                h4 {
                  margin: 0;
                  font-family: "Roboto";
                }
                p {
                  font-weight: 400;
                }
                h4 {
                  font-weight: 600;
                  max-width: 90%;
                }
              }
            }
          }
          .card-hover::after {
            transition: 0.5s;
            content: "";
            background-color: #572ee5;
            opacity: 0.7;
            min-width: 331px;
            height: 340px;
            display: inline-block;
            transform: translateY(-300px);
          }
        }
        .hidden {
          display: none;
        }
      }
    }
  }
  .darkMode {
    .favorites-gifs-section {
      padding-top: 12.5rem;
      .favorites-gifs-section-container {
        .favorites-gifs-empty-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          h2 {
            max-width: 30%;
          }
        }
      }
    }
  }
}
