html {
    font-size: 16px;
    letter-spacing: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
.body-container {
    /* Header section */
    .header-container {
        .top-bar {
            background-color: #572EE5;
            width: 100%;
            height: 5px;
        }
        .navigation-container {
            padding: 22px 0px 0px;
            .gifos-logo {
                margin: 22px;
                width: 3.05rem;
                height: 3.05rem;
            }
            .hmb-menu {
                display: none;
            }
            /* Hamburguer menu three bars */
            .hmb-label {
                padding-top: 19px;
                padding-right: 26px;
                float: right;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                .bar {
                    margin: 2px;
                    height: 2px;
                    width: 19px;
                    background-color: #572EE5;
                    border-radius: 5px;
                }
            }
            .nav-names {
                width: 100%;
                position: absolute;
                max-height: 0;
                transition: max-height 0.2s ease;
                overflow: hidden;
                background-color: #562ee5ec;
                display: flex;
                flex-direction: column;
                z-index: 10px;
                .names {
                    list-style: none;
                    overflow: hidden;
                    a {
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 800;
                        text-decoration: none;
                        color: #ffff;
                    }
                }
                .line {
                    opacity: 0.5;
                    border: 1px solid #FFFFFF;
                    width: 41px;
                }
            }
            .create-container {
                display: none;
            }
            /*  Hamburguer menu animations  */
            #hmb-menu:checked ~ .nav-names {
                max-height: 100%;
            }
            #hmb-menu:checked ~ .hmb-label #bar1 {
                transform: translate(0, 6.2px) rotate(45deg);
                transition: 0.2s ease-out;
                width: 20px;
            }
            #hmb-menu:checked ~ .hmb-label #bar2 {
                opacity: 0;
                transform: translate(-10px);
                transition: 0.2s;
            }
            #hmb-menu:checked ~ .hmb-label #bar3 {
                transform: translate(0, -6.2px) rotate(-45deg);
                transition: 0.2s ease-out;
                width: 20px;
            }
        }
    }
    /* Search + Trending text section */
    .search-section {
        .search-container {
            display: flex;
            flex-direction: column;
            /* Main tittle */
            .first-title {
                align-self: center;
                margin-bottom: 1.9375rem;
                font-weight: 800;
                color: #572EE5;
                font-size: 1.5626rem;
                text-align: center;
                width: 70%;
                .gifos-span {
                    font-weight: 800;
                    color: #5ED7C6;
                }
            }
            /* Illustration */
            .illustration-container {
                width: 273px;
                height: 130px;
                .header-illustration {
                    margin-left: 3.4375rem;
                    width: 273px;
                    height: 130px;
                }
            }
            /* Search box */
            .searchBox-container {
                .search-box {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    margin-left: 2.1875rem;
                    border-radius: 1.68rem;
                    padding: 15px 64px 13px 55px;
                    border: 1px solid #572EE5;
                }
                .search-btn {
                    cursor: pointer;
                    border: none;
                    position: absolute;
                    background-color: #5ed7c700;
                    right: 2.56rem;
                    bottom: 57.4%;
                }
                .search-btn:hover {
                    transform: scale(1.1);
                    transition: 0.3s;
                }
            }
            /* Trending Text */
            .trending-text {
                display: flex;
                flex-direction: column;
                h2 {
                    text-align: center;
                    font-size: 1rem;
                    font-weight: 700;
                    font-family: 'Montserrat', sans-serif;
                    color: #572EE5;
                }
                p {
                    align-self: center;
                    width: 60%;
                    text-align: center;
                    font-size: 0.875rem;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    color: #572EE5;
                }
            }
        }
    }
    .trendingGif-section {
        width: 100%;
        height: 430px;
        background-color: #F3F5F8;
        padding-top: 35px;
        .trendingGif-container {
            h2 {
                font-size: 1.25rem;
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                color: #572EE5;
                font-size: 1.25rem;
            }
            p {
                font-size: 1rem;
                text-align: center;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
            }
        }
    }
    .footer-section {
        .footer-container {
            display: flex;
            flex-direction: column;
            .share-container {
                padding: 20px;
                align-self: center;
                text-align: center;
                p {
                    font-size: 0.9375rem;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                }
                .share-icons {
                    a {
                        text-decoration: none;
                        color: #CDD6E0;
                        i {
                            margin: 10px;
                        }
                    }
                }
            }
            .copyright {
                text-align: center;
                p {
                    font-size: 0.875rem;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                }
            }
        }
        .top-bar {
            background-color: #572EE5;
            width: 100%;
            height: 5px;
        }
    } 
}